html {
  position: relative;
  min-height: 100%;
}

body { 
    background: #1a1a1a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1a1a1a , #333333); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1a1a1a , #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 65px; 
    margin-bottom: 60px;
    color: #fff;
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #262626;
  border-left: 1px solid #4d4d4d;
}

.itempanel{
    height: 300px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cceeff;
}

.navbar-inverse .navbar-brand {
    color: #e5f7ff;
}

.navbar-inverse{
    background: -webkit-linear-gradient(to left, #333333 , #1a1a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #333333 , #1a1a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 1px solid #4d4d4d;
}

.navbar-fixed-bottom .navbar-brand {
    color: black;
}

.footer {
    border-top: 1px solid #4d4d4d;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 61px;
    background: -webkit-linear-gradient(to left, #333333 , #1a1a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #333333 , #1a1a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h4 {
  margin-top: 15px;
  font-size: 21px;
  color: #e5f7ff;
}

p {
  color: #e5f7ff;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-md-3"] {
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: rgba(43,50,50,.00);
  border-left:  1px solid rgba(77,77,77,.351);
  border-right:  1px solid rgba(77,77,77,.35);
  border-top:  1px solid rgba(77,77,77,.9);
}

.col-md-3:nth-child(2){
    border-left: none;
    border-right: none;
}

.col-md-3:nth-child(3){
    border-right: none;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fill { 
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

.btn-custom{
    background-color: #333333;
    border-color: #4d4d4d;
    box-shadow: none;
    outline: none;
}
.btn-custom:hover{
    background-color: #333333;
    border-color: #4d4d4d;
    box-shadow: none;
    outline: none;
    color:white;
}

.btn-custom:active {
    background-color: #333333;
    border-color: #4d4d4d;
    box-shadow: none;
    outline: none;
    color:white;
}

.btn-custom:focus {   
    background-color: #333333;
    border-color: #4d4d4d;
    box-shadow: none;
    outline: none;
    color:white;
}  

.btn-custom:visited {   
    background-color: #333333;
    border-color: #4d4d4d;
    box-shadow: none;
    outline: none;
}  

.btn-custom:active:focus {
    background-color: #404040;
    border-color: #4d4d4d;
    box-shadow: none;
    outline: none;
}

.progress{
    background: -webkit-linear-gradient(to right, #404040 , #1a1a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #404040 , #1a1a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 20px;
    height: 22px;
}

.progress-bar-success {
    border-radius: 4px;
    background-color: #404040;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

strong{
  color: #fea03b;
}

#cllist li {
    list-style-type: none;
}

.jumbotron{
    padding: 0px;
    padding-top: 40px;
    padding-bottom:  0px;
    background: -webkit-linear-gradient(to top, #333333 , #1a1a1a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #333333 , #1a1a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 15px;
    border: 1px solid #4d4d4d;
}

.modal-title{
    color:#e5f7ff;
}

.modal-body > li{
    color:#e5f7ff;
}

.modal-footer{
    color:#e5f7ff;
}

.modal-content{
  background: #4d4d4d;
}

.list-group-item{
  background-color: rgba(0,0,0,0.00);
  border: none;
}

.footer-item{
  position: relative;
  height: 100%;
}